
/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  body,td,th,p{
    min-width: 225px;
  }
    .inside {
      display: -ms-grid;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 80px 1100px 66px;
      grid-template-areas:
          "header header"
          "content content"
          "footer footer";
    }
    .inside header {
      width: 100%;
      z-index: 1000;
      grid-area: header;
    }

    .inside #maincontent {
      grid-area: content;
      display: grid;
      display: -ms-grid;
      grid-template-columns: 900px 1fr;
      grid-template-rows: 900px 1fr;
      grid-template-areas:
          "restaurant-area map-area"
          "reviews-area reviews-area";
    }
    .inside #restaurant-container {
      grid-area: restaurant-area;
    }
    .inside #reviews-container {
      grid-area: reviews-area;
    }
    .inside #map-container {
      background: blue none repeat scroll 0 0;
      grid-area: map-area;
    }
    .inside #footer {
      grid-area: footer;
    }


  }

  /*
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

  @media (min-width: 1025px) and (max-width: 1280px) {

    #restaurants-list > div:nth-child(3) {
      margin-left: auto;
    }

  }

  /*
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

  @media (max-width: 1024px) {
    .inside {
      display: -ms-grid;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 80px 1fr 66px;
      grid-template-areas:
          "header"
          "content"
          "footer";
    }
    .inside header {
      width: 100%;
      z-index: 1000;
      grid-area: header;
    }

    .inside #maincontent {
      grid-area: content;
      display: grid;
      display: -ms-grid;
      grid-template-columns: 1fr;
      grid-template-rows: 450px 1fr 1fr;
      grid-template-areas:
          "map-area"
          "restaurant-area"
          "reviews-area";
    }
    .inside #restaurant-container {
      grid-area: restaurant-area;
    }
    .inside #reviews-container {
      grid-area: reviews-area;
    }
    .inside #map-container {
      background: blue none repeat scroll 0 0;
      grid-area: map-area;
    }

    .inside #footer {
      grid-area: footer;
    }


  }
  @media screen and (max-width: 580px) {
    body,td,th,p{
      min-width: 125px;
    }

    .filter-options select {
      margin: auto;
    }

    .filter-options {
      height: 120px;
      width: 100%;
      display: inline-grid;
    }
    #restaurats-list {
      display: block;
    }

    #restaurants-list div {
      width: 334px;
    }

    .inside {
      display: -ms-grid;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 80px 1fr 66px;
      grid-template-areas:
          "header"
          "content"
          "footer";
    }
    .inside header {
      width: 100%;
      z-index: 1000;
      grid-area: header;
    }

    .inside #maincontent {
      grid-area: content;
      display: grid;
      display: -ms-grid;
      grid-template-columns: 1fr;
      grid-template-rows: 450px 900px 1fr;
      grid-template-areas:
          "map-area"
          "restaurant-area"
          "reviews-area";
    }
    .inside #restaurant-container {
      grid-area: restaurant-area;
    }
    .inside #reviews-container {
      grid-area: reviews-area;
    }
    .inside #map-container {
      background: blue none repeat scroll 0 0;
      grid-area: map-area;
    }

    .inside #footer {
      grid-area: footer;
    }


  }

    @media screen and (max-width: 320px) {
      body,td,th,p{
        min-width: 50px;
      }
      .inside #maincontent {
        grid-area: content;
        display: grid;
        display: -ms-grid;
        grid-template-columns: 1fr;
        grid-template-rows: 450px 900px 1fr;
        grid-template-areas:
            "map-area"
            "restaurant-area"
            "reviews-area";
      }
  }